aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.3.2
aniso8601==9.0.1
api==0.0.7
async-timeout==5.0.1
attrs==24.2.0
blinker==1.9.0
boto3==1.35.81
botocore==1.35.81
certifi==2024.12.14
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
Flask==3.1.0
Flask-Cors==5.0.0
Flask-RESTful==0.3.10
frozenlist==1.5.0
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
JsonForm==0.0.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
JsonSir==0.0.2
MarkupSafe==3.0.2
multidict==6.1.0
nose==1.3.7
np==1.0.2
numpy==2.0.2
propcache==0.2.1
python-dateutil==2.9.0.post0
Python-EasyConfig==0.1.7
pytoolbase==1.0.2
pytz==2024.2
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
Resource==0.2.1
restfull==1.0.13
rpds-py==0.22.3
s3transfer==0.10.4
six==1.17.0
typing_extensions==4.12.2
urllib3==1.26.20
Werkzeug==3.1.3
yarl==1.18.3
zipp==3.21.0
